body{
    
    background-image: url("https://cdn.pixabay.com/photo/2018/11/10/22/57/nature-3807667_1280.jpg");
}
#banner {
    background-color: rgb(6, 211, 156);
    padding: 10px;
}
#side_bar {
    height: 632px;
    overflow-y:scroll !important;
}
#left_card {
    height: 400px;
    overflow-y:scroll !important;
    width: auto;
}

#welcome {
    margin-left: 20px;
    margin-top: 20px;
}
.card {
    margin-top:20px;
}
img{
    width: 8%;
}
#input-item {
    transform: scaleX(1.1);
    /* margin-top: 100px; */
}
.vl {
    border-left: 1px solid rgb(184, 183, 183);
    height: 400px;    
}
.hl {
    border-top: 1px solid rgb(184, 183, 183);
    width: 100%;
}
#collapse_btns{
    margin-left: 9px;
    padding: 0px 3px 3px 3px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
.small_btns{
    margin-left: 9px;
    padding: 2px 3px 3px 3px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: none;
}

.count {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}
